@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--light-grayish-blue);
}

/* ----- Frontend Mentor-specific Stylings ----- */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ----- Utilities ----- */

.container {
  width: 87%;
  max-width: 1440px;
  margin: 0 auto;
}

.testimonial_container {
  width: 100%;
  margin: 1.5em auto;
  padding: 3em;
  border-radius: 10px;
}

.header_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header_text_container--name {
  color: var(--white);
  font-weight: 600;
}

.header_text_container--title {
  color: var(--white);
  opacity: 50%;
}

.text_container {
  width: 100%;
}

.text_container--headline {
  font-size: 1.5rem;
  margin-top: 1em;
}

.text_container--description {
  opacity: 70%;
  margin-top: 1em;
  font-weight: 500;
  line-height: 150%;
}


/* ----- Global ----- */

.profile_img {
  height: 3em;
  width: auto;
  border-radius: 100px;
  border: 2px solid var(--light-gray);
  margin-right: 1.5em;
}

.quotation_img {
  display: inline-block;
}

/* ----- Main ----- */

/* ----- Daniel Testimonial ----- */

.daniel_container {
  background-color: var(--moderate-violet);
  grid-area: 1 / 1 / 2 / 3;
}

.daniel_headline,
.daniel_description {
  color: var(--white);
}

/* ----- Jonathan Testimonial ------ */

.jonathan_container {
  background-color: var(--very-dark-grayish-blue);
  grid-area: 1 / 3 / 2 / 4;
}

.jonathan_headline,
.jonathan_description {
  color: var(--white);
}

/* ----- Jeanette Testimonial ----- */

.jeanette_container {
  background-color: var(--white);
  grid-area: 2 / 1 / 3 / 2;
}

.header_text_container--name--jeanette,
.header_text_container--title--jeanette {
  color: var(--very-dark-grayish-blue);
}

.jeanette_headline,
.jeanette_description {
  color: var(--very-dark-grayish-blue);
}

/* ----- Patrick Testimonial ----- */

.patrick_container {
  background-color: var(--very-dark-blackish-blue);
  grid-area: 2 / 2 / 3 / 4;
}

.patrick_headline,
.patrick_description {
  color: var(--white);
}

/* ----- Kira Testimonial ----- */

.kira_container {
  background-color: var(--white);
  grid-area: 1 / 4 / 3 / 5;
}

.header_text_container--name--kira,
.header_text_container--title--kira,
.kira_headline,
.kira_description {
  color: var(--very-dark-grayish-blue);
}

/* ----- Media Queries ----- */

@media (min-width: 1245px) {
  .container { margin: 2em auto; }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }

  .testimonial_container { margin: 0; }
}